.node rect {
  stroke: #999;
  fill: #fff;
  stroke-width: 2px;
  rx: 5px;
  ry: 5px;
}

.cluster rect {
  fill: #d0f4ff;
  stroke: #999;
  stroke-width: 2px;
  rx: 5px;
  ry: 5px;
}

.edgePath path {
  stroke: #333;
  stroke-width: 1.5px;
}
