#webprofiler-toolbar {
  width: 100%;
  display: flex;
  color: #000000;
  background-color: #cccccc;
  border-top: 1px solid #888888;
  position: fixed;
  bottom: 0;
  z-index: 100;
}

#webprofiler-toolbar div {
  padding: .25rem;
  border-left: 1px solid #aaaaaa;
}

#webprofiler-toolbar div:first-of-type {
  border: none;
}